body {
    font-family: Arial;
}

body.disableScroll {
    margin: 0;
    height: 100%;
    overflow: hidden
}

a {
    color: blue;
}

.help {
    margin: 0 auto;
    padding: 10px;
    font-size: 1.2em;
    line-height: 20px;
    background: gold;
    text-align: center;
    width: 100%;
}

.charts {
    width: 100%;
}

.canvasChartWrapper {
    height: 70vh;
    margin-bottom: 30px;
    width: 49vw;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
}

.canvasChartWrapper.fullScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index:1000;
    background-color: #FFF;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .canvasChartWrapper {
        width: 100vw;
        height: 95vh;
    }
}


.canvasChart {
    top: 200px;
    margin-bottom: 20px;
    height: 100%;
}

.languages {
    width: 100%;
    text-align: right;
    position: relative;
}

.languages>a {
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
}

.footer, .official {
    text-align: right;
    width: auto;
    clear: both;
    margin: 20px;
}

.fullScreenIcon {
    background-image: url("images/expand.png");
    background-size: 100% 100%;
    cursor: pointer;
    width: 50px;
    height: 50px;

    bottom: 75px;
    right: 0;

    position: absolute;
}

/* Workaround for other loasses chart*/
.canvasChartWrapper.otherLosses .fullScreenIcon{
    bottom: 95px;
}

.canvasChartWrapper.fullScreen .fullScreenIcon {
    background-image: url("images/collapse.png");
}

.canvasChartWrapper.fullScreen canvas {
    padding: 20px;
}