body {
    font-family: Arial;
}

a {
    color: blue;
}

.help {
    margin: 0 auto;
    padding: 10px;
    font-size: 1.2em;
    line-height: 20px;
    background: gold;
    text-align: center;
    width: 100%;
}

.charts {
    width: 100%;
}

.canvasChartWrapper {
    height: 70vh;
    margin-bottom: 30px;
    width: 49vw;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}

@media screen and (max-width: 992px) {
    .canvasChartWrapper {
        width: 100vw;
        height: 95vh;
    }
}


.canvasChart {
    top: 200px;
    margin-bottom: 20px;
    height: 100%;
}

.languages {
    width: 100%;
    text-align: right;
    position: relative;
}

.languages>a {
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
}

.footer, .official {
    text-align: right;
    width: auto;
    clear: both;
    margin: 20px;
}